.hub section[role=main] {
}

    .hub section[role=main] h2 {
        margin-left: 120px;
    }

    .hub section[role=main] #picturesLibrary {
        -ms-grid-row: 2;
        margin-left: 120px;
        height: 100%;
    }

    .hub section[role=main] .thumbnail {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hub section[role=main] .empty-library {
        font-size: 2em;
        margin-left: 120px;
        color: #999;
    }

    .hub section[role=main] .layoutContainer {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-rows: auto 1fr;
        -ms-grid-columns: 1fr;
    }

@media screen and (min-width: 400px) {

    .hub section[role=main] .thumbnail {
        width: 200px;
        height: 200px;
    }

        .hub section[role=main] .thumbnail.first {
            width: 410px;
            height: 410px;
        }
}

@media screen and (-ms-view-state: snapped) {
    .hub section[role=main] h2 {
        margin-left: 5px;
        font-size: 20pt;
        font-weight: 200;
        line-height: 1.2;
    }

    .hub section[role=main] {
        margin-left: 0;
        width: 300px;
    }

        .hub section[role=main] #picturesLibrary {
            width: 100%;
            margin-left: 0;
        }

        .hub section[role=main] .thumbnail, .hub section[role=main] .thumbnail.first {
            margin: 0;
            padding: 0;
            left: 0;
            width: 272px;
            height: 200px;
            position: relative;
        }
}

@media screen and (-ms-view-state: portrait) {
    .hub section[role=main] {
        margin-left: 100px;
    }
}
